<a href="https://colab.research.google.com/github/Berthamalee/Repository1/blob/main/Antropometria_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = "https://raw.githubusercontent.com/Berthamalee/Repository1/main/datasets/antropometria-dataset-2.csv"

In [4]:
df = pd.read_csv(path)
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [5]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

In [6]:
pd.pivot_table(df, 
               index = "entidad",
               )

,PrimaryLast,cadera,cintura,diastol,edad,est_dis,est_marg,est_urb,est_var,folio,intp,meses,peso,pondef,ropa,sexo,sistol,talla
entidad,,,,,,,,,,,,,,,,,,
1,1,97.612205,88.149370,78.553435,31.874809,4.135878,1.366412,2.338931,14.120611,11068.607634,2.490076,5.132824,66.357786,534.896422,1.636641,1.538931,122.401908,159.884809
2,1,100.012243,89.471654,76.773493,32.005319,4.576241,1.388298,2.501773,24.526596,21272.191489,2.423759,5.478723,68.467270,1653.075341,1.539007,1.531915,120.133865,159.201418
3,1,101.295918,91.118965,75.676415,31.933962,3.618868,1.373585,2.077358,33.575472,31137.109434,2.322642,5.132075,71.809198,354.642989,1.613208,1.507547,119.401887,160.269245
4,1,98.830039,88.981898,75.280499,34.020333,3.353050,1.449168,1.913124,43.310536,41078.778189,2.334566,5.426987,65.418475,332.911707,1.465804,1.561922,118.282348,153.716636
5,1,99.698339,89.836213,76.919526,33.240196,4.344771,1.397059,2.441176,54.341503,50964.026144,2.264706,5.403595,68.154142,1352.618358,1.398693,1.511438,119.510621,159.671487
6,1,100.245189,89.892869,75.053840,35.552588,4.460768,1.388982,2.480801,64.419032,60939.487479,2.277129,5.570952,68.743648,312.161010,1.590985,1.560935,115.585977,159.152337
7,1,93.155216,82.999191,73.085938,31.835526,2.603618,1.412829,1.570724,72.509868,70853.532895,2.463816,5.207237,57.613775,1737.990464,1.509868,1.592105,113.380757,151.020888
8,1,99.845884,89.816287,75.625639,35.831346,4.265758,1.413969,2.374787,84.255537,81168.954003,2.325383,5.340716,66.656005,1881.527625,1.603066,1.548552,118.937819,160.043782
9,1,100.875090,90.756452,74.341199,33.142857,3.313776,1.400510,3.000000,93.278061,91150.507653,2.698980,5.528061,65.119273,4562.844821,1.390306,1.556122,113.735332,157.859694
10,1,98.252021,89.202460,77.431034,35.832759,3.182759,1.396552,1.856897,103.132759,100967.837931,2.431034,5.389655,66.354922,817.259415,1.620690,1.560345,121.710776,158.668966
11,1,97.248383,87.549565,75.608761,33.712991,3.306647,1.397281,1.868580,113.199396,110953.075529,2.619335,5.385196,63.936390,2451.454378,1.596677,1.561934,119.484139,156.890937
12,1,94.370066,85.051809,74.300394,36.409449,2.902362,1.406299,1.705512,122.845669,120972.132283,2.291339,5.207874,60.466315,1365.745348,1.576378,1.577953,117.116142,153.305984
13,1,95.314170,84.775632,74.262548,35.222008,2.783784,1.399614,1.681467,132.723938,130895.833977,2.314672,5.306950,59.995917,1156.378103,1.600386,1.631274,117.967664,153.695849
14,1,100.063161,88.898410,75.752814,35.536585,4.088180,1.469043,2.275797,144.078799,141092.559099,2.392120,5.390244,66.697270,3250.700570,1.559099,1.575985,118.164165,158.242683
15,1,95.700899,85.409663,74.017660,30.807947,4.181015,1.403974,2.388521,154.203091,151198.258278,2.699779,5.655629,60.680850,6867.475084,1.410596,1.578366,113.540287,155.034216
16,1,97.290312,88.731404,76.372287,35.884808,3.123539,1.390651,1.856427,163.060100,160939.357262,2.302170,5.587646,64.900000,1919.498108,1.587646,1.569282,119.871452,156.908097
17,1,97.410412,88.672978,73.636691,35.802158,3.976619,1.415468,2.269784,173.969424,171043.953237,2.343525,5.544964,63.541295,829.277808,1.645683,1.620504,115.589928,155.244964
18,1,98.320527,86.833239,73.370000,36.320000,3.072727,1.407273,1.783636,183.014545,180876.190909,2.183636,5.296364,66.541827,503.924583,1.712727,1.580000,119.873636,158.561182
19,1,99.626391,89.627504,79.456404,34.566358,4.722222,1.429012,2.614198,194.723765,191165.046296,2.314815,5.533951,67.239853,2263.448137,1.476852,1.547840,121.937500,158.196373
20,1,93.732807,84.104386,74.150833,35.326667,2.545000,1.390000,1.531667,202.451667,200941.923333,2.248333,5.458333,58.800067,1431.364899,1.538333,1.598333,115.662083,151.880583
21,1,94.202490,84.904149,73.529858,34.546559,3.212551,1.382591,1.894737,213.180162,210983.742915,2.380567,5.619433,60.102996,2682.731661,1.773279,1.578947,118.292510,152.921964
22,1,97.227898,86.921529,76.226117,33.989214,3.477658,1.400616,2.010786,223.437596,220905.223421,2.399076,5.295840,63.547342,853.634887,1.636364,1.543914,117.332435,157.318259
23,1,98.958188,88.417425,75.235445,33.089041,4.138699,1.429795,2.277397,234.111301,231069.782534,2.268836,5.400685,64.238904,571.002582,1.599315,1.565068,117.890839,153.064127
24,1,94.962378,85.068252,75.952041,34.149660,3.197279,1.360544,1.865306,243.123810,241117.303401,2.404082,5.565986,60.576912,1085.401975,1.674830,1.560544,119.766327,155.619184
25,1,99.208621,88.502231,76.695328,35.085487,3.333996,1.421471,1.938370,253.292247,250979.998012,2.379722,5.139165,68.051272,1576.576430,1.552684,1.552684,120.102883,160.278728
26,1,99.350339,88.577966,76.709866,34.817726,4.066890,1.408027,2.289298,264.048495,261021.635452,2.282609,5.648829,68.849473,1348.421077,1.518395,1.526756,120.377926,160.886204
27,1,98.583728,88.054373,73.766611,33.081395,2.745847,1.403654,1.667774,272.705980,270950.428571,2.358804,5.453488,66.554701,902.612977,1.491694,1.533223,117.350914,155.655648
28,1,99.706833,90.423914,75.078674,34.578275,4.019169,1.429712,2.258786,284.017572,281104.589457,2.271565,5.512780,68.210911,1584.896820,1.394569,1.535144,119.520767,158.532029
29,1,96.239691,86.258514,75.860185,34.150000,4.027778,1.375926,2.287037,294.001852,290964.462963,2.464815,5.574074,62.085398,467.406532,1.685185,1.588889,117.784722,155.013981
30,1,96.494971,86.698646,75.683659,36.106145,2.979050,1.381285,1.776536,302.932961,300976.829609,2.357542,5.526536,62.546117,3319.496969,1.565642,1.583799,120.022696,154.438757
31,1,97.481234,88.392504,74.506920,34.811419,3.743945,1.397924,2.089965,313.683391,310990.612457,2.368512,5.453287,62.706315,801.440722,1.596886,1.581315,118.031574,150.864446
32,1,97.445234,87.583362,75.692664,35.801012,2.736931,1.411467,1.581788,322.640809,320934.546374,2.284992,5.268128,64.238524,745.579236,1.500843,1.556492,118.637437,157.970995

In [7]:
pd.pivot_table(df,
               index= "desc_ent",
               values ="peso",
               )

                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524

In [12]:
pd.pivot_table(df, 
               index = "sexo",
               values = "peso",
               aggfunc = "mean",
               columns = "desc_ent",
               )

desc_ent,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,COAHUILA DE ZARAGOZA,COLIMA,DISTRITO FEDERAL,DURANGO,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ DE IGNACIO DE LA LLAVE,YUCATAN,ZACATECAS
sexo,,,,,,,,,,,,,,,,,,,,,
1,69.985381,71.391818,75.561015,68.622637,58.365222,68.892642,68.873094,70.998878,69.460661,68.846451,...,65.149528,62.614907,71.122911,70.880406,69.255801,72.060601,64.784437,65.324094,65.717541,66.096483
2,63.254292,65.893667,68.168959,62.920493,57.096111,64.815295,67.467348,66.978393,61.654128,64.400031,...,63.538000,58.979163,65.565234,67.024857,64.190187,64.866851,60.201164,60.565646,60.537515,62.757788

In [22]:
pd.pivot_table(df, 
               index = "desc_ent",
               values = "peso",
               aggfunc = "median",
               columns = "sexo",
               )

sexo                                   1        2
desc_ent
AGUASCALIENTES                   69.9500  63.7000
BAJA CALIFORNIA                  70.6500  64.2000
BAJA CALIFORNIA SUR              76.6500  68.5500
CAMPECHE                         67.3500  62.3750
CHIAPAS                          59.2000  56.0250
CHIHUAHUA                        69.3000  64.6250
COAHUILA DE ZARAGOZA             68.3000  67.3000
COLIMA                           71.7000  66.0000
DISTRITO FEDERAL                 69.0000  61.4500
DURANGO                          70.3500  62.5000
GUANAJUATO                       65.0625  60.3250
GUERRERO                         60.5000  57.2000
HIDALGO                          63.3000  57.9000
JALISCO                          65.5875  63.3500
MEXICO                           62.4500  56.9500
MICHOACAN DE OCAMPO              67.6250  63.4000
MORELOS                          65.2000  61.4500
NAYARIT                          69.0500  63.7000
NUEVO LEON                       69.4000  65.1000
OAXACA                           59.5500  56.8000
PUEBLA                           61.8750  59.5500
QUERETARO                        65.2750  59.4500
QUINTANA ROO                     65.9250  60.8500
SAN LUIS POTOSI                  62.2000  57.4500
SINALOA                          71.1000  64.3000
SONORA                           72.3000  66.6500
TABASCO                          69.7500  62.6000
TAMAULIPAS                       72.7500  63.3500
TLAXCALA                         64.2750  59.8750
VERACRUZ DE IGNACIO DE LA LLAVE  64.3000  59.4725
YUCATAN                          66.0000  59.5750
ZACATECAS                        65.3000  61.6250